In [26]:
import pandas as pd
import numpy as np

In [27]:
#read data from tab separated txt file
sno_full_ref_con_ass = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Content\der2_cRefset_AssociationFull_US1000124_20240301.txt", sep='\t')
sno_full_ref_con_attr = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Content\der2_cRefset_AttributeValueFull_US1000124_20240301.txt", sep='\t')
sno_full_ref_con_simp = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Content\der2_Refset_SimpleFull_US1000124_20240301.txt",sep='\t')
sno_full_ref_lan = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Language\der2_cRefset_LanguageFull-en_US1000124_20240301.txt",sep='\t')
sno_full_ref_map_ext = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Map\der2_iisssccRefset_ExtendedMapFull_US1000124_20240301.txt",sep='\t')
sno_full_ref_map_simp = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Map\der2_sRefset_SimpleMapFull_US1000124_20240301.txt",sep='\t')
sno_full_ref_meta_desc = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Metadata\der2_cciRefset_RefsetDescriptorFull_US1000124_20240301.txt",sep='\t')
sno_full_ref_meta_desc_type = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Metadata\der2_ciRefset_DescriptionTypeFull_US1000124_20240301.txt",sep='\t')
sno_full_ref_meta_mrcm_attr_dom = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Metadata\der2_cissccRefset_MRCMAttributeDomainFull_US1000124_20240301.txt",sep='\t')
sno_full_ref_meta_mrcm_attr_range = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Metadata\der2_ssccRefset_MRCMAttributeRangeFull_US1000124_20240301.txt",sep='\t')
sno_full_ref_meta_mrcm_mod = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Metadata\der2_cRefset_MRCMModuleScopeFull_US1000124_20240301.txt",sep='\t')
sno_full_ref_meta_mrcm_dom = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Metadata\der2_sssssssRefset_MRCMDomainFull_US1000124_20240301.txt",sep='\t')
sno_full_ref_meta_comp = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Metadata\der2_scsRefset_ComponentAnnotationStringValueFull_US1000124_20240301.txt",sep='\t')
sno_full_ref_mod_dep = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Metadata\der2_ssRefset_ModuleDependencyFull_US1000124_20240301.txt",sep='\t')
sno_full_ref_mem_anno = pd.read_csv("SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Refset\Metadata\der2_sscsRefset_MemberAnnotationStringValueFull_US1000124_20240301.txt",sep='\t')

In [28]:
sno_full_ref_con_ass.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,targetComponentId
0,80001d7e-b1b9-56ac-9768-308cabe31117,20040731,1,900000000000207008,900000000000527005,290170004,216464004
1,80006a57-2ab6-524d-8cb5-ab051fb10aaa,20020131,1,900000000000207008,900000000000527005,165811000,313476009
2,8001aeda-719f-5d07-a4aa-00b734b748da,20020731,1,900000000000207008,900000000000523009,266866008,159972006
3,8001b97b-6cb7-41e4-b3d4-eb823a0559a6,20230531,1,900000000000207008,900000000000523009,246531008,128612007
4,80024464-d5ea-4a12-b933-606a6056c06f,20170731,1,900000000000207008,734138000,280164007,729256003

In [29]:
sno_full_ref_con_attr.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,valueId
0,80005357-6c6d-4f02-9532-67c73e3eccc7,20190131,1,900000000000207008,900000000000490003,3672851010,723277005
1,80005fab-e950-433c-88ef-1575d3cf4de5,20221130,1,900000000000207008,900000000000490003,391438018,723277005
2,80006347-0187-5de0-9c84-ea1ddf9e3986,20020131,1,900000000000207008,900000000000489007,193284003,900000000000482003
3,800089cc-3dd8-4840-a613-99e1b3a4b6ee,20180731,1,900000000000207008,900000000000490003,3567548019,723277005
4,80009975-8e9d-5238-8e5b-146db8b24013,20020131,1,900000000000207008,900000000000490003,777428015,900000000000495008

In [30]:
sno_full_ref_con_simp.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId
0,800aa109-431f-4407-a431-6fe65e9db160,20170731,1,900000000000207008,723264001,731819006
1,800aa109-431f-4407-a431-6fe65e9db160,20230228,0,900000000000207008,723264001,731819006
2,800c483a-ad68-4a07-a342-73ac73caa1b2,20170731,1,900000000000207008,723264001,728066008
3,800e34b5-2188-4345-b76e-389a3b1be1c1,20170131,1,900000000000207008,723264001,29376000
4,80114701-2c85-4a30-b176-5f9e1e34e47a,20170131,1,900000000000207008,723264001,87432006

In [31]:
sno_full_ref_lan.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,acceptabilityId
0,80000517-8513-5ca0-a44c-dc66f3c3a1c6,20080731,1,900000000000207008,900000000000508004,2743026013,900000000000548007
1,80000755-c5d9-5bd8-bb64-ab8236d240d7,20020131,1,900000000000207008,900000000000509007,2320010,900000000000548007
2,8000095c-e40d-56d2-9432-7f9a716d60d2,20020131,1,900000000000207008,900000000000509007,99175018,900000000000548007
3,80000cf0-bdc8-48e9-b0e1-914e28484bbc,20210731,1,900000000000207008,900000000000508004,4571203018,900000000000549004
4,800012f3-4937-481b-b37c-7862b7073648,20220731,1,900000000000207008,900000000000509007,5071815010,900000000000548007

In [32]:
sno_full_ref_map_ext.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,mapGroup,mapPriority,mapRule,mapAdvice,mapTarget,correlationId,mapCategoryId
0,80004cdf-a114-59c8-88a2-b6f0283acf4f,20180301,1,5991000124107,6011000124106,128041000119107,1,1,IFA 721617001 | Primary adenocarcinoma of lowe...,IF PRIMARY ADENOCARCINOMA OF LOWER THIRD OF ES...,K22.70,447561005,447639009
1,80005aeb-477c-53dc-9a5c-ce723ca264cb,20150731,1,449080006,447562003,254153009,1,1,TRUE,ALWAYS Q79.8,Q79.8,447561005,447637006
2,80007b64-5a60-5556-88ce-22ef540a3ea5,20180301,1,5991000124107,6011000124106,281801000009108,2,2,OTHERWISE TRUE,ALWAYS B96.89,B96.89,447561005,447637006
3,80007b64-5a60-5556-88ce-22ef540a3ea5,20230901,1,5991000124107,6011000124106,281801000009108,2,10,OTHERWISE TRUE,ALWAYS B96.89,B96.89,447561005,447637006
4,80007e6a-7408-5b87-a1ec-70b212811410,20190731,1,449080006,447562003,16623961000119100,1,1,TRUE,ALWAYS D61.1,D61.1,447561005,447637006

In [33]:
sno_full_ref_map_simp.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,mapTarget
0,80001267-7451-550a-82f0-92cc3bdfe890,20020131,1,900000000000207008,900000000000497000,154938001,.E4D4
1,80001782-d79c-5b33-8679-c0c62beef6da,20020131,1,900000000000207008,900000000000497000,138614002,.13gX
2,8000241a-ed32-4339-876b-05fee677bda3,20180131,1,900000000000207008,900000000000497000,735755000,XUyL5
3,80002a2a-412f-59a4-b07c-6f194709c556,20020131,1,900000000000207008,900000000000497000,238194001,X40Ze
4,80004caa-f9ed-5ef8-a9fb-6c9e89e0b89d,20020131,1,900000000000207008,900000000000497000,181522009,7N72Y

In [34]:
sno_full_ref_meta_desc.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,attributeDescription,attributeType,attributeOrder
0,81ee191b-56fd-4950-9e14-6cb4c5cb5b1b,20170731,1,900000000000012004,900000000000456007,723561005,723574004,900000000000461009,6
1,8561568a-c56c-4b02-aaff-05e581606ebf,20140131,1,900000000000207008,900000000000456007,900000000000531004,900000000000533001,900000000000460005,1
2,85cc1c27-3a9f-5859-a1c5-7522b51ed528,20130731,1,449080006,900000000000456007,447562003,900000000000502003,900000000000478000,2
3,85d2cadc-65a0-5e0e-aa32-91236adfb1be,20020131,1,900000000000207008,900000000000456007,900000000000488004,449608002,900000000000463007,0
4,885e163a-5c99-423d-9879-dc9e10599fb5,20170731,1,900000000000207008,900000000000456007,900000000000496009,900000000000499002,900000000000465000,1

In [35]:
sno_full_ref_meta_desc_type.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,descriptionFormat,descriptionLength
0,807f775b-1d66-5069-b58e-a37ace985dcf,20020131,1,900000000000207008,900000000000538005,900000000000550004,900000000000540000,1024
1,807f775b-1d66-5069-b58e-a37ace985dcf,20140131,1,900000000000207008,900000000000538005,900000000000550004,900000000000540000,4096
2,909a711e-b114-5543-841e-242aaa246363,20020131,1,900000000000207008,900000000000538005,900000000000013009,900000000000540000,255
3,0f928c01-b245-5907-9758-a46cbeed2674,20020131,1,900000000000207008,900000000000538005,900000000000003001,900000000000540000,255

In [36]:
sno_full_ref_meta_mrcm_attr_dom.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,domainId,grouped,attributeCardinality,attributeInGroupCardinality,ruleStrengthId,contentTypeId
0,8038688b-80f5-49b3-b3d8-c6fe13f8fb1e,20170731,1,900000000000012004,723561005,370129005,386053000,1,0..*,0..1,723597001,723596005
1,81da6aa5-0cb1-463f-88ad-c25a795a211b,20170731,1,900000000000012004,723561005,363713009,404684003,1,0..*,0..1,723597001,723596005
2,840861c7-8d9b-44a6-acfd-01f1b994b6d9,20170731,1,900000000000012004,723561005,405813007,71388002,1,0..*,0..1,723597001,723596005
3,87e54647-dee0-4bd4-8b45-0ab0fa9fad74,20210731,1,900000000000012004,723561005,1148965004,260787004,0,0..1,0..0,723597001,723596005
4,883bd314-23b7-4ccc-87d6-8067d98b3660,20170731,1,900000000000012004,723561005,704324001,363787002,0,0..*,0..0,723597001,723596005

In [37]:
sno_full_ref_meta_mrcm_attr_range.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,rangeConstraint,attributeRule,ruleStrengthId,contentTypeId
0,81288567-57a9-49b1-b7f0-bf5979a6d289,20170731,1,900000000000012004,723562003,405814001,<< 442083009 |Anatomical or acquired body stru...,<< 71388002 |Procedure (procedure)|: [0..*] { ...,723597001,723596005
1,8163e3c0-b0c4-4c92-82e7-e93a23770b17,20170731,1,900000000000012004,723562003,246090004,<< 404684003 |Clinical finding (finding)| OR <...,<< 413350009 |Finding with explicit context (s...,723597001,723595009
2,8163e3c0-b0c4-4c92-82e7-e93a23770b17,20200731,1,900000000000012004,723562003,246090004,<< 272379006 |Event (event)| OR << 363787002 |...,<< 413350009 |Finding with explicit context (s...,723597001,723595009
3,8163e3c0-b0c4-4c92-82e7-e93a23770b17,20230630,1,900000000000012004,723562003,246090004,<< 272379006 |Event (event)| OR << 363787002 |...,<< 413350009 |Finding with explicit context (s...,723597001,723595009
4,81f6d23b-66c7-46ce-b003-08380b9b236a,20170731,1,900000000000012004,723562003,118170007,<< 125676002 |Person (person)| OR << 35359004 ...,<< 123038009 |Specimen (specimen)|: [0..*] { [...,723597001,723596005

In [38]:
sno_full_ref_meta_mrcm_mod.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,mrcmRuleRefsetId
0,8e5766bc-7755-45fb-99c8-8d2c52e45da5,20170731,1,900000000000012004,723563008,900000000000207008,723562003
1,d3b7a01f-6fcd-4d8d-815b-ca6a63511310,20170731,1,900000000000012004,723563008,900000000000207008,723561005
2,60dcf17f-6054-4ee2-a657-606104c49bb5,20170731,1,900000000000012004,723563008,900000000000207008,723560006

In [39]:
sno_full_ref_meta_mrcm_dom.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,domainConstraint,parentDomain,proximalPrimitiveConstraint,proximalPrimitiveRefinement,domainTemplateForPrecoordination,domainTemplateForPostcoordination,guideURL
0,821b5d55-2985-4293-98a9-2959a69b0b3b,20170731,1,900000000000012004,723560006,71388002,<< 71388002 |Procedure (procedure)|,NaN,<< 71388002 |Procedure (procedure)|,NaN,[[+id(<< 71388002 |Procedure (procedure)|)]]: ...,[[+scg(<< 71388002 |Procedure (procedure)|)]]:...,http://snomed.org/dom71388002
1,821b5d55-2985-4293-98a9-2959a69b0b3b,20190731,1,900000000000012004,723560006,71388002,<< 71388002 |Procedure (procedure)|,NaN,<< 71388002 |Procedure (procedure)|,NaN,[[+id(<< 71388002 |Procedure (procedure)|)]]: ...,[[+scg(<< 71388002 |Procedure (procedure)|)]]:...,http://snomed.org/dom71388002
2,821b5d55-2985-4293-98a9-2959a69b0b3b,20200731,1,900000000000012004,723560006,71388002,<< 71388002 |Procedure (procedure)|,NaN,<< 71388002 |Procedure (procedure)|,NaN,[[+id(<< 71388002 |Procedure (procedure)|)]]: ...,[[+scg(<< 71388002 |Procedure (procedure)|)]]:...,http://snomed.org/dom71388002
3,821b5d55-2985-4293-98a9-2959a69b0b3b,20231001,1,900000000000012004,723560006,71388002,<< 71388002 |Procedure (procedure)|,NaN,<< 71388002 |Procedure (procedure)|,NaN,[[+id(<< 71388002 |Procedure (procedure)|)]]: ...,[[+scg(<< 71388002 |Procedure (procedure)|)]]:...,http://snomed.org/dom71388002
4,dcc4c43d-0ff3-448a-b200-fc9c6c3e7a56,20170731,1,900000000000012004,723560006,386053000,<< 386053000 |Evaluation procedure (procedure)|,71388002 |Procedure (procedure)|,<< 71388002 |Procedure (procedure)|,[[1..*]] 260686004 |Method| = [+id(<< 12926500...,[[+id(<< 71388002 |Procedure (procedure)|)]]: ...,[[+scg(<< 71388002 |Procedure (procedure)|)]]:...,http://snomed.org/dom386053000

In [40]:
sno_full_ref_meta_comp.head()

Empty DataFrame
Columns: [id, effectiveTime, active, moduleId, refsetId, referencedComponentId, languageCode, typeId, value]
Index: []

In [41]:
sno_full_ref_mod_dep.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,sourceEffectiveTime,targetEffectiveTime
0,9200c4da-3189-4dd5-9879-02c9ae118747,20220901,1,5991000124107,900000000000534007,900000000000207008,20220901,20220630
1,9200c4da-3189-4dd5-9879-02c9ae118747,20230301,1,5991000124107,900000000000534007,900000000000207008,20230301,20221231
2,9200c4da-3189-4dd5-9879-02c9ae118747,20230901,1,5991000124107,900000000000534007,900000000000207008,20230901,20230630
3,9200c4da-3189-4dd5-9879-02c9ae118747,20240301,1,5991000124107,900000000000534007,900000000000207008,20240301,20240101
4,ed482ae6-dff1-42d8-8e39-353b78a60471,20220901,1,5991000124107,900000000000534007,900000000000012004,20220901,20220630

In [42]:
sno_full_ref_mem_anno.head()

Empty DataFrame
Columns: [id, effectiveTime, active, moduleId, refsetId, referencedComponentId, referencedMemberId, languageCode, typeId, value]
Index: []

In [43]:
sno_full_terms_concept = pd.read_csv(r".\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Terminology\sct2_Concept_Full_US1000124_20240301.txt",sep='\t')
sno_full_terms_desc = pd.read_csv(r".\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Terminology\sct2_Description_Full-en_US1000124_20240301.txt",sep='\t')
sno_full_terms_rel = pd.read_csv(r".\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Terminology\sct2_Relationship_Full_US1000124_20240301.txt",sep='\t')
sno_full_terms_stated_rel = pd.read_csv(r".\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Terminology\sct2_StatedRelationship_Full_US1000124_20240301.txt",sep='\t')
sno_full_terms_iden = pd.read_csv(r".\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Terminology\sct2_Identifier_Full_US1000124_20240301.txt",sep='\t')
sno_full_terms_rel_conc = pd.read_csv(r".\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Terminology\sct2_RelationshipConcreteValues_Full_US1000124_20240301.txt",sep='\t')
sno_full_terms_owl_exp = pd.read_csv(r".\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Terminology\sct2_sRefset_OWLExpressionFull_US1000124_20240301.txt",sep='\t')
sno_full_terms_txt_def = pd.read_csv(r".\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\SnomedCT_ManagedServiceUS_PRODUCTION_US1000124_20240301T120000Z\Full\Terminology\sct2_TextDefinition_Full-en_US1000124_20240301.txt",sep='\t')

In [44]:
sno_full_terms_concept.head()

       id  effectiveTime  active            moduleId  definitionStatusId
0  100005       20020131       0  900000000000207008  900000000000074008
1  101009       20020131       1  900000000000207008  900000000000074008
2  102002       20020131       1  900000000000207008  900000000000074008
3  103007       20020131       1  900000000000207008  900000000000074008
4  104001       20020131       1  900000000000207008  900000000000073002

In [45]:
sno_full_terms_desc.head()

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
0,101013,20020131,1,900000000000207008,126813005,en,900000000000013009,Neoplasm of anterior aspect of epiglottis,900000000000020002
1,101013,20170731,1,900000000000207008,126813005,en,900000000000013009,Neoplasm of anterior aspect of epiglottis,900000000000448009
2,102018,20020131,1,900000000000207008,126814004,en,900000000000013009,Neoplasm of junctional region of epiglottis,900000000000020002
3,102018,20170731,1,900000000000207008,126814004,en,900000000000013009,Neoplasm of junctional region of epiglottis,900000000000448009
4,103011,20020131,1,900000000000207008,126815003,en,900000000000013009,Neoplasm of lateral wall of oropharynx,900000000000020002

In [46]:
sno_full_terms_rel.head()

,id,effectiveTime,active,moduleId,sourceId,destinationId,relationshipGroup,typeId,characteristicTypeId,modifierId
0,100022,20020131,1,900000000000207008,100000000,102272007,0,116680003,900000000000011006,900000000000451002
1,100022,20090731,0,900000000000207008,100000000,102272007,0,116680003,900000000000011006,900000000000451002
2,101021,20020131,1,900000000000207008,10000006,29857009,0,116680003,900000000000011006,900000000000451002
3,102025,20020131,1,900000000000207008,10000006,9972008,0,116680003,900000000000011006,900000000000451002
4,103024,20020131,1,900000000000207008,1000004,19130008,0,116680003,900000000000011006,900000000000451002

In [47]:
sno_full_terms_stated_rel.head()

,id,effectiveTime,active,moduleId,sourceId,destinationId,relationshipGroup,typeId,characteristicTypeId,modifierId
0,3187444026,20140131,1,900000000000207008,425630003,400195000,0,42752001,900000000000010007,900000000000451002
1,3187444026,20160131,0,900000000000207008,425630003,400195000,0,42752001,900000000000010007,900000000000451002
2,3192499027,20140131,0,900000000000207008,425630003,105590001,0,246075003,900000000000010007,900000000000451002
3,3574321020,20140131,1,900000000000207008,425630003,111189002,0,116680003,900000000000010007,900000000000451002
4,3574321020,20160131,0,900000000000207008,425630003,111189002,0,116680003,900000000000010007,900000000000451002

In [48]:
sno_full_terms_iden.head()

Empty DataFrame
Columns: [alternateIdentifier, effectiveTime, active, moduleId, identifierSchemeId, referencedComponentId]
Index: []

In [49]:
sno_full_terms_rel_conc.head()

,id,effectiveTime,active,moduleId,sourceId,value,relationshipGroup,typeId,characteristicTypeId,modifierId
0,13830203029,20210731,1,900000000000207008,830045007,#3,0,1142139005,900000000000011006,900000000000451002
1,13830204024,20210731,1,900000000000207008,830064001,#3,0,1142139005,900000000000011006,900000000000451002
2,13830205020,20210731,1,900000000000207008,830066004,#3,0,1142139005,900000000000011006,900000000000451002
3,13830206021,20210731,1,900000000000207008,830108003,#1,0,1142139005,900000000000011006,900000000000451002
4,13830207028,20210731,1,900000000000207008,830110001,#1,0,1142139005,900000000000011006,900000000000451002

In [50]:
sno_full_terms_owl_exp.head()

,id,effectiveTime,active,moduleId,refsetId,referencedComponentId,owlExpression
0,80001735-381a-4c86-a986-a6ebd875f6c7,20190731,1,900000000000207008,733073007,42061009,SubClassOf(:42061009 :398334008)
1,80002779-6efa-491f-88d3-8a393898bbe4,20190731,1,900000000000207008,733073007,239604004,SubClassOf(:239604004 ObjectIntersectionOf(:26...
2,80004459-1608-4ec1-9d41-ae994cd7f6a9,20190731,1,900000000000207008,733073007,283910009,SubClassOf(:283910009 :283904009)
3,80005cdc-07bf-41b8-9e90-47393b071a6a,20190731,1,900000000000207008,733073007,721657003,EquivalentClasses(:721657003 ObjectIntersectio...
4,8000d644-fed0-498d-8882-3e69d3f964d1,20190731,1,900000000000207008,733073007,87885009,SubClassOf(:87885009 :2090006)

In [51]:
sno_full_terms_txt_def.head()

,id,effectiveTime,active,moduleId,conceptId,languageCode,typeId,term,caseSignificanceId
0,2884452019,20040731,1,900000000000207008,410016009,en,900000000000550004,A decrease in lower leg circumference due to r...,900000000000017005
1,2884452019,20190731,0,900000000000207008,410016009,en,900000000000550004,A decrease in lower leg circumference due to r...,900000000000017005
2,2884453012,20050731,1,900000000000207008,416118004,en,900000000000550004,Introduction of a substance to the body,900000000000017005
3,2884454018,20030731,1,900000000000207008,125097000,en,900000000000550004,Domestic goat,900000000000017005
4,2884455017,20030731,1,900000000000207008,125099002,en,900000000000550004,Domestic sheep species,900000000000017005

In [52]:
#store the variables in a list
sno_full = [sno_full_ref_con_ass,sno_full_terms_concept,sno_full_ref_con_attr,sno_full_ref_con_simp,sno_full_ref_lan,sno_full_ref_map_ext,sno_full_ref_map_simp,sno_full_ref_mem_anno,sno_full_ref_meta_comp,sno_full_ref_meta_desc,sno_full_ref_meta_desc_type,sno_full_ref_meta_mrcm_attr_dom,sno_full_ref_meta_mrcm_attr_range,sno_full_ref_meta_mrcm_dom,sno_full_ref_meta_mrcm_mod,sno_full_ref_mod_dep,sno_full_terms_desc,sno_full_terms_iden,sno_full_terms_owl_exp,sno_full_terms_rel,sno_full_terms_rel_conc,sno_full_terms_stated_rel,sno_full_terms_txt_def]

In [53]:
# Initialize an empty string to hold the column names
string = ''

# Iterate over each DataFrame in the list
for df in sno_full:
    # Get the list of column names and join them with ', ' to form a single string
    columns_string = ', '.join(df.columns)
    
    # Append this string of column names to the final string, followed by a comma if it's not the last DataFrame
    string += columns_string + ', '

# Remove the trailing comma and space from the final string
print(string)

id, effectiveTime, active, moduleId, refsetId, referencedComponentId, targetComponentId, id, effectiveTime, active, moduleId, definitionStatusId, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, valueId, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, acceptabilityId, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, mapGroup, mapPriority, mapRule, mapAdvice, mapTarget, correlationId, mapCategoryId, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, mapTarget, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, referencedMemberId, languageCode, typeId, value, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, languageCode, typeId, value, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, attributeDescription, attributeType, attributeOrder, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, descriptionFormat, descriptionLength, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, domainId, grouped, attributeCardinality, attributeInGroupCardinality, ruleStrengthId, contentTypeId, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, rangeConstraint, attributeRule, ruleStrengthId, contentTypeId, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, domainConstraint, parentDomain, proximalPrimitiveConstraint, proximalPrimitiveRefinement, domainTemplateForPrecoordination, domainTemplateForPostcoordination, guideURL, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, mrcmRuleRefsetId, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, sourceEffectiveTime, targetEffectiveTime, id, effectiveTime, active, moduleId, conceptId, languageCode, typeId, term, caseSignificanceId, alternateIdentifier, effectiveTime, active, moduleId, identifierSchemeId, referencedComponentId, id, effectiveTime, active, moduleId, refsetId, referencedComponentId, owlExpression, id, effectiveTime, active, moduleId, sourceId, destinationId, relationshipGroup, typeId, characteristicTypeId, modifierId, id, effectiveTime, active, moduleId, sourceId, value, relationshipGroup, typeId, characteristicTypeId, modifierId, id, effectiveTime, active, moduleId, sourceId, destinationId, relationshipGroup, typeId, characteristicTypeId, modifierId, id, effectiveTime, active, moduleId, conceptId, languageCode, typeId, term, caseSignificanceId,

In [54]:
def find_mergeable_dataframes(df_list):
    mergeable_dfs = {}
    for i in range(len(df_list)):
        for j in range(i+1, len(df_list)):
            common_columns = set(df_list[i].columns).intersection(set(df_list[j].columns))
            common_columns = [col for col in common_columns if df_list[i][col].dtype == df_list[j][col].dtype]
            if 'id' in common_columns:
                common_columns.remove('id')
            if common_columns:
                if i in mergeable_dfs:
                    mergeable_dfs[i].append((j, list(common_columns)))
                else:
                    mergeable_dfs[i] = [(j, list(common_columns))]
    return mergeable_dfs

mergeable_dfs = find_mergeable_dataframes(sno_full)

In [55]:
print(mergeable_dfs)

{0: [(1, ['effectiveTime', 'moduleId', 'active']), (2, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (3, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (4, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (5, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (6, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (9, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (10, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (11, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (12, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (13, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (14, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 1: [(2, ['effectiveTime', 'moduleId', 'active']), (3, ['effectiveTime', 'moduleId', 'active']), (4, ['effectiveTime', 'moduleId', 'active']), (5, ['effectiveTime', 'moduleId', 'active']), (6, ['effectiveTime', 'moduleId', 'active']), (9, ['effectiveTime', 'moduleId', 'active']), (10, ['effectiveTime', 'moduleId', 'active']), (11, ['effectiveTime', 'moduleId', 'active']), (12, ['effectiveTime', 'moduleId', 'active']), (13, ['effectiveTime', 'moduleId', 'active']), (14, ['effectiveTime', 'moduleId', 'active']), (15, ['effectiveTime', 'moduleId', 'active']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'moduleId', 'active']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 2: [(3, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (4, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (5, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (6, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (9, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (10, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (11, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (12, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (13, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (14, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 3: [(4, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (5, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (6, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (9, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (10, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (11, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (12, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (13, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (14, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 4: [(5, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (6, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (9, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (10, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (11, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (12, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (13, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (14, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 5: [(6, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId', 'mapTarget']), (9, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (10, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (11, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (12, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (13, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (14, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 6: [(9, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (10, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (11, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (12, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (13, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (14, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 7: [(8, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'typeId', 'value', 'refsetId', 'languageCode']), (16, ['languageCode']), (17, ['effectiveTime', 'moduleId', 'referencedComponentId', 'active']), (20, ['value']), (22, ['languageCode'])], 8: [(16, ['languageCode']), (17, ['effectiveTime', 'moduleId', 'referencedComponentId', 'active']), (20, ['value']), (22, ['languageCode'])], 9: [(10, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (11, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (12, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (13, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (14, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 10: [(11, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (12, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (13, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (14, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 11: [(12, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'contentTypeId', 'refsetId', 'ruleStrengthId']), (13, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (14, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 12: [(13, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (14, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 13: [(14, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 14: [(15, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 15: [(16, ['effectiveTime', 'moduleId', 'active']), (18, ['effectiveTime', 'referencedComponentId', 'active', 'moduleId', 'refsetId']), (19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 16: [(18, ['effectiveTime', 'moduleId', 'active']), (19, ['effectiveTime', 'active', 'moduleId', 'typeId']), (20, ['effectiveTime', 'active', 'moduleId', 'typeId']), (21, ['effectiveTime', 'active', 'moduleId', 'typeId']), (22, ['effectiveTime', 'active', 'term', 'moduleId', 'typeId', 'caseSignificanceId', 'conceptId', 'languageCode'])], 18: [(19, ['effectiveTime', 'moduleId', 'active']), (20, ['effectiveTime', 'moduleId', 'active']), (21, ['effectiveTime', 'moduleId', 'active']), (22, ['effectiveTime', 'moduleId', 'active'])], 19: [(20, ['effectiveTime', 'active', 'sourceId', 'moduleId', 'relationshipGroup', 'typeId', 'characteristicTypeId', 'modifierId']), (21, ['effectiveTime', 'active', 'sourceId', 'moduleId', 'relationshipGroup', 'typeId', 'characteristicTypeId', 'modifierId', 'destinationId']), (22, ['effectiveTime', 'active', 'moduleId', 'typeId'])], 20: [(21, ['effectiveTime', 'active', 'sourceId', 'moduleId', 'relationshipGroup', 'typeId', 'characteristicTypeId', 'modifierId']), (22, ['effectiveTime', 'active', 'moduleId', 'typeId'])], 21: [(22, ['effectiveTime', 'active', 'moduleId', 'typeId'])]}

In [56]:
#so the plan is to look at the common columns between the dataframes and merge them based on the common columns
#i was hoping you could look at it manually and determine which dataframes can be merged together
#i could do it but it would take a lot of time